# Virtual environment
deutchlearn/

# Environment variables (Crucial!)
.env

# Python build artifacts
__pycache__/
*.pyc

# Ignore personal revision files
revise-de_VOC.txt
revise-en_VOC.txt

# Ignore earlier major version
deutch_learn_original.py

# Listening
listening-instructions.txt

# Listening comprehension files
list_compr_files/

# For me
remarks-for-listening-compr.txt